@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: url("../public/circle-scatter-haikei.svg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

#start {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.075);
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
